---
layout: default
title: Home
---

Recent posts
========================================================================
{% for post in site.posts limit:5 %}
  + <a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %}

Posts in chronological order
========================================================================
{% for post in site.posts %}
  + <a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %}

*************************************
*                _______            *
* .-------.     /      /   .-----.  *
* | Write +-+->/ Edit ++->| Share | *
* '-------' ^ /______/ |   '-----'  *
*           |          |            *
*            '--------'             *
*************************************