---
layout: default
title: Home
---

Recent posts
========================================================================
{% for post in site.posts limit:5 %}
[{{ post.title }}]({{ post.url }})	
{% endfor %}

Posts in chronological order
========================================================================
{% for post in site.posts %}
[{{ post.title }}]({{ post.url }})	
{% endfor %}

Source                               |     Result
-----------------------------------------|------------------------------
`**bold**`                               | **bold**
`__bold__`                               | __bold__
`*italic*`                               | *italic*
`_italic_`                               | _italic_
`~~strikethrough~~`                      | ~~strikethrough~~
<code>`inline code`</code>               | `inline code`
`[news](https://cbc.ca)`                 | [news](https://cbc.ca)
`https://casual-effects.com`             | https://casual-effects.com
`morgan@casual-effects.com`              | morgan@casual-effects.com
`5 kg/m^3`                               | 5 kg/m^3
`5 degrees`                              | 5 degrees
`x<sub>below</sub>`                      | x<sub>below</sub>
`<small>size</small>`                    | <small>size</small>
`<big>size</big>`                        | <big>size</big>